/node_modules
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
/vendor/*
public/backup.zip
composer.lock
docker-compose.yml
example.env
public/backup.zip
public/backup.zip
